/* /////////////////////////////////////////////  */
/*////////////        Condensed         ///////////   */
/* /////////////////////////////////////////////  */



/*

Created by the famous Texx Smith, the Einstein of Web design
Visit me at http://texxsmith.com

*/

@import url(https://fonts.googleapis.com/css?family=Open+Sans+Condensed:700);
@import url(https://fonts.googleapis.com/css?family=Lora);


h1 {
    font-family: 'Open Sans Condensed', sans-serif;
}

h2 {
    font-family: 'Open Sans Condensed', sans-serif;
}

p  {
    font-family: 'Lora', serif;
}

