
/*

Created by the famous Texx Smith, the Einstein of Web design
Visit me at http://texxsmith.com

*/


/* ---------- TIMER ---------- */
ul#countdown{text-align:center;padding-top: 15px;}
ul#countdown span {
    font-size: 4em;
    font-weight: bold;
    width: 80px;
    height: 94px;
    text-align: center;
    display: inline-block;
}
ul#countdown h3{
}
ul#countdown li{
    display:inline-block;
    width: 10%;
}
ul#countdown li p.timeRefDays,
ul#countdown li p.timeRefHours,
ul#countdown li p.timeRefMinutes,
ul#countdown li p.timeRefSeconds {
    color: rgb(255, 255, 255);
    text-transform: uppercase;
    font-size: 1.2em;
    191919
}
.dark{
  color:#222222;
}