/* /////////////////////////////////////////////  */
/*////////////   STYLE 1 (Formal?)  ///////////   */
/* /////////////////////////////////////////////  */



/*

Created by the famous Texx Smith, the Einstein of Web design
Visit me at http://texxsmith.com

*/



@import url(https://fonts.googleapis.com/css?family=Raleway:400,700);

h1 {
    font-family: 'Raleway', sans-serif;
}

h2 {
    font-family: 'Raleway', sans-serif;
}

p  {
    font-family: 'Raleway', sans-serif;
}




